{% extends 'base.html' %}
{% block nav %}
    <div class="content">
        <div>
            <a class="pathlink" href="/static">Главная</a> / <a class="pathlink" href="/homework2">Главная дз№2</a>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="one_item_text">
        <h3>{{ title }}
    {% if status == 'CN' %}
    (Отменён)
    {% endif %}
        </h3>
        {% if products %}
            <table class="basket">
                <thead>
                <tr>
                    <td>Название</td>
                    <td>Цена</td>
                    <td colspan="2">Количество</td>
                </tr>
                </thead>

                {% for item in products %}
                    <tr class="basket text">
                        <td>{{ item.p_name }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.orderdetail__quantity }}</td>

                    </tr>
                {% empty %}
                    <h3>Пустотааааа</h3>
                {% endfor %}
                <tr>
                    <td>Итого:</td>
                    {#                    <td colspan="3" style="text-align: right">{{ summ.price__sum }}</td>#}
                    <td colspan="2" style="text-align: right">{{ summ }}</td>
                </tr>
            </table>
    <div class="users_list" style="margin-left: -30px"><a class="a_list" href="{% url 'all_orders' %}">Вернуться к списку</a></div>
        {% else %}
            <h3>Пустотааааа</h3>
        {% endif %}
    </div>
{% endblock %}