{% extends 'myapp/../template_index.html' %}
{% block nav %}
    <div class="content">
        <div>
            <a class="pathlink" href="/static">Главная</a>
        </div>
    </div>
{% endblock %}
{% block content %}
    {% if not user %}
        <div class="content form_style">
            <div class="form_container">
                <h3>{{ form_title }}</h3>
            </div>
{#            <div class="form_container">#}
                {#                {% with messages = get_flashed_messages(with_categories=true) %}#}
                {#                    {% if messages %}#}
                {#                        {% for category, message in messages %}#}
                {#                            <div class="alert alert-{{ category }}">#}
                {#                                {{ message }}#}
                {#                            </div>#}
                {#                        {% endfor %}#}
                {#                    {% endif %}#}
                {#                    {% if form.errors %}#}
                {#                        <span class="alert alert-info">#}
                {#                        {% for field, errors in form.errors.items() %}#}
                {#                            <small>#}
                {#                                {{ ', '.join(errors) }}#}
                {#                            <br>#}
                {#                            </small>#}
                {#                        {% endfor %}#}
                {#                    </span>#}
                {#                    {% endif %}#}
                {#                {% endwith %}#}
{#            </div>#}

            <div class="form_container">
                <form id="register" method="post" class="form_v">
                    {{ form.as_p}}
                    <br>
                    <input type="submit" class="button">
                </form>

            </div>

        </div>
    {% else %}
        <div class="content form_style">
            <div class="form_container">
                <h3>Привет, {{ name }}!</h3>
            </div>
            <div class="form_container">
                <form action="#">
                    <button class="button">Выйти</button>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}