{% extends 'template_index.html' %}
{% block nav %}
    <div class="content">
        <div>
            <a class="pathlink" href="{{ url_for('index') }}">Главная</a>
        </div>
    </div>
{% endblock %}
{% block content %}
    {% if create %}
        <div class="content form_style">
            <div class="form_container">
                <h3>Создание категории</h3>
            </div>
            <div class="form_container">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if form.errors %}
                        <span class="alert alert-info">
                        {% for field, errors in form.errors.items() %}
                            <small>
                                {{ ', '.join(errors) }}
                            <br>
                            </small>
                        {% endfor %}
                    </span>
                    {% endif %}
                {% endwith %}
            </div>

            <div class="form_container">
                <form id="createcat" method="post" action="{{ url_for('creating_cat') }}" class="form_v">
                    <p>
                        {{ form.cat_name(class='input_text long_input',placeholder='Введите название категории') }}
                    </p>
                    <br>
                    {{ form.submit(class='button') }}
                </form>

            </div>

        </div>
    {% else %}
        <div class="content">
            <h3>Список существующих категорий:</h3>
        </div>
        <div class="content item_flex">
            {% for item in cats %}
                <div class="item">
                <a href="{{ item.cat_link }}">
                    {% if item.cat_image %}
                        <img src="{{ url_for('static', filename=item.cat_image) }}" alt="alt"><br>
                    {% else %}
                        <img src="{{ url_for('static', filename='images/noimage.jpg') }}" alt="alt"><br>
                    {% endif %}
                    <p class="category_link">{{ item.cat_name }}</p></a>
                    <span><a href="{{ url_for('delete_cat',id_cat=item.id) }}">Удалить категорию</a></span>
                </div>

            {% else %}
                <h3>Пока категорий нет</h3>
            {% endfor %}

        </div>
        <div class="form_container" style='margin-top:100px'>
            <form action="{{ url_for('create_cat') }}">
                <button class="button">Создать новую</button>
            </form>
            <form action="{{ url_for('homework3') }}">
                <button class="button">Вернуться</button>
            </form>
        </div>

    {% endif %}
{% endblock %}