{% extends 'template_index.html' %}
{% block nav %}
    <div class="content">
        <div>
            <a class="pathlink" href="{{ url_for('index') }}">Главная</a>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="content">
        <div class="page2_header">
            <h1>{{ shop_title }}</h1>
            <h2>{{ shop_description }}</h2>
        </div>
    </div>
    <div class="content item_flex categories">
        {% for cat in categories %}
            {% if not loop.index0 % 4 and not loop.first %}
                </div>
                <div class="content item_flex categories">
            {% endif %}
                <div class="item">
                <a href="{{ cat.link }}">
                    <img src="{{ url_for('static', filename=cat.img_url) }}" alt="alt"><br>
                    <p class="category_link">{{ cat.name }}</p>
                </a></div>

        {% else %}
            <h3>ничего не найдено</h3>
        {% endfor %}
        </div>
{% endblock %}