{% extends 'myapp/template_text.html' %}
{% block simple_text %}
        Рассказывать о себе и первом джанго-сайте? Сириусли? Ещё бы спросили, как я провела лето :)<br>
        Кстати, никак, если тебе интересно, а точнее - так же, как и весну, зиму и пол прошлой осени - сидя дома на попе
        ровно.
        <br><br>
        Ну ладно. Я хозяин магазина, можете так и звать. Никаких данных о возрасте, {{ name }}, я тебе не дам. Чтоб не
        начиналось вот это вот: а, ну наверное в таком возрасте оно трудно соображает, надо разжевывать, как маленькому.
        Бесит прям (тут мем кланяющегося пингвина с подписью сами знаете какой). Это, конечно, всё же даёт некоторые
        данные о возрасте, а заодно и об отличном характере, да?
        <br><br>Шаблон для своего первого джанго-сайта я сделала ещё для своего первого фласк-сайта. Странный дизайн,
        картинки и кривая вёрстка - всё моё, копирайт@ и такое прочее. Идея тоже моя. Просто я её спалила ещё на фласке.
    <br>Ох и спать хочется.. Так что давайте, подписывайтесь, ставьте лайки, пока!


{% endblock %}
